<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="patient">
    <el-card shadow="always" style="margin-bottom: 10px;">
        <el-row type="flex" justify="space-between">
            <el-col :span="6">
                <el-radio-group v-model="isCollapse">
                    <el-radio-button :label="false">Show Patients</el-radio-button>
                    <el-radio-button :label="true">Hide Patients</el-radio-button>
                </el-radio-group>
            </el-col>
            <el-col :span="8">
                <el-button>Name: MAX</el-button>
                <el-button>ID: 20165221</el-button>
            </el-col>
        </el-row>
    </el-card>
    <el-row glutter="20">
        <el-col id="sidebar" style="width: auto">
            <el-menu default-active="1-1-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
                     :collapse="isCollapse">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title">My Patients</span>
                    </template>
                    <el-submenu index="1-1">
                        <span slot="title">Waiting</span>
                        <el-menu-item v-for="(item,index) in myWait" :key="item.pid" :index="'1-1-'+(index+1)"
                                      :value="item.pid">{{ item.pname}}</el-menu-item>
                    </el-submenu>

                    <el-submenu index="1-2">
                        <span slot="title">Diagnosed</span>
                        <el-menu-item v-for="(item,index) in myDiagnosed" :key="item.pid" :index="'1-2-'+(index+1)"
                                      :value="item.pid">{{ item.pname}}</el-menu-item>
                    </el-submenu>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-s-home"></i>
                        <span slot="title">Department Patients</span>
                    </template>
                    <el-submenu index="2-1">
                        <span slot="title">Waiting</span>
                        <el-menu-item v-for="(item,index) in deptWait" :key="item.pid" :index="'2-1-'+(index+1)"
                                      :value="item.pid">{{ item.pname}}</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2-2">
                        <span slot="title">Diagnosed</span>
                        <el-menu-item v-for="(item,index) in deptDiagnosed" :key="item.pid" :index="'2-2-'+(index+1)"
                                      :value="item.pid">{{ item.pname}}</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>

        </el-col>
        <el-col id="mainFrame" style="width:75%; margin-left: 20px;">

            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <!-- Patient Home Page -->
                    <el-tab-pane label="FrontPage" name="homepageframe/frontpage.html"></el-tab-pane>
                    <el-tab-pane label="Examination" name="homepageframe/examination.html"></el-tab-pane>
                    <el-tab-pane label="Inspection" name="homepageframe/inspection.html"></el-tab-pane>
                    <el-tab-pane label="DiagConfirm" name="homepageframe/diagconfirm.html"></el-tab-pane>
                    <el-tab-pane label="Treatment" name="homepageframe/treatment.html"></el-tab-pane>
                    <el-tab-pane label="Patent-med" name="homepageframe/patentmed.html"></el-tab-pane>
                    <el-tab-pane label="Herbal" name="homepageframe/herbal.html"></el-tab-pane>
                    <el-tab-pane label="BillQuery" name="homepageframe/billquery.html"></el-tab-pane>

                </el-tabs>
                <el-row>
                    <el-col :span="24">
                        <iframe width="100%" height="100%" frameborder="no" v-bind:src="url"></iframe>
                    </el-col>
                </el-row>
            </template>
        </el-col>
        <el-col :span="4" style="margin-left: 10px;margin-top: 45px;height: 600px">
            <el-steps direction="vertical" finish-status="success" process-status="finish" :active="1">
                <el-step icon="el-icon-edit-outline" title="Register"></el-step>
                <el-step icon="el-icon-document-remove" title="Pre-Diagnose"></el-step>
                <el-step icon="el-icon-search" title="Examine"></el-step>
                <el-step icon="el-icon-document" title="Final-Diagnose"></el-step>
                <el-step icon="el-icon-add-location" title="Treatment"></el-step>
                <el-step icon="el-icon-document-checked" title="Finished"></el-step>
            </el-steps>
        </el-col>
    </el-row>
</div>

<style>
    .el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 200px;
        min-height: 400px;
    }
</style>

<script>
    var patient = new Vue({
        el: '#patient',

        data() {
            return {
                url: '',
                isCollapse: true,
                activeName: 'homepageframe/frontpage.html',

                show2: false,


                shiftid: [],
                myList: [],
                deptList: [],

                myWait: [],
                myDiagnosed: [],
                deptWait: [],
                deptDiagnosed: [],
            };
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClick(tab, event) {
                console.log(tab, event);
                this.url = tab.name;
                console.log("navigateTo" + this.url)
            },
            loadPatientList() {
                var that = this;
                axios.post('/outpatient/getPatientsOfUserToday', {'shiftid': this.shiftid})
                    .then(function (response) {
                        console.log(response.data);
                        that.list = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    });

</script>
</body>
</html>