<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="department">
        <input type="text" v-model="empno" placeholder="empno"/>
        <input type="text" v-model="ename" placeholder="ename"/>
        <input type="text" v-model="job" placeholder="job"/>
        <button type="button" @click="search">search</button>

        <table>
            <tr v-for="emp in emps">
                <td>{{emp.empno}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.job}}</td>
                <td>{{emp.hiredate}}</td>
                <td>{{emp.hiredatestr}}</td>
            </tr>
        </table>

        <template>
            <el-table
                    :data="emps"
                    style="width: 100%">
                <el-table-column
                        prop="empno"
                        label="日期"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="ename"
                        label="姓名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="job"
                        label="地址">
                </el-table-column>
            </el-table>
        </template>
    </div>
</body>



<script>
    var app = new Vue({
        el: '#department',
        data: {
            empno: "",
            ename: "",
            job: "",
            emps: []
        },
        methods: {
            search: function () {

                var that = this;
                console.log(that.empno);
                console.log(that.ename);
                console.log(that.job);


                axios.post('/test/emps', {

                    empno: that.empno,
                    ename: that.ename,
                    job: that.job

                })
                    .then(function (response) {
                        console.log(response.data);
                        that.emps = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            }

        }
    })
</script>
</html>