<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="department">

    <el-row :gutter="20">
        <el-col :span="16">
            <input type="text" v-model="deptcode" placeholder="Code"/>
            <input type="text" v-model="deptclass" placeholder="Class"/>
            <input type="text" v-model="deptname" placeholder="Name"/>
            <input type="text" v-model="deptcat" placeholder="Category"/>
            <button type="button" @click="search">search</button>
        </el-col>
        <el-col :span="8">
            <el-button type="text" @click="showDialogForm('Add')">打开嵌套表单的 Dialog</el-button>
        </el-col>
    </el-row>


    <template>
        <el-table
                :data="depts.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                style="width: 100%">
            <el-table-column
                    prop="deptcode"
                    label="Code"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="deptclass"
                    label="Class"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="deptname"
                    label="Name"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="deptcat"
                    label="Category">
            </el-table-column>
            <el-table-column fixed="right" label="Operations" width="120">
                <template slot-scope="scope">
                    <el-button @click="delDept(scope.$index, scope.row)" type="text" size="small">delete</el-button>
                    <el-button @click="showDialogForm('Update',scope.$index, scope.row)" type="text" size="small">update</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-switch v-model="value">
         </el-switch>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 20, 40]"

                :page-size="pagesize"
                :hide-on-single-page="value"
                layout="total, sizes, prev, pager, next, jumper"
                :total="depts.length">
        </el-pagination>

    </template>


    <el-dialog :title="formTitle" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="Code" :label-width="formLabelWidth">
                <el-input v-model="form.deptcode" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Class" :label-width="formLabelWidth">
                <el-input v-model="form.deptclass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Name" :label-width="formLabelWidth">
                <el-input v-model="form.deptname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Category" :label-width="formLabelWidth">
                <el-input v-model="form.deptcat" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Cancel</el-button>
            <el-button type="primary" @click="onSubmit">{{methodType}}</el-button>
        </div>
    </el-dialog>

</div>
</body>



<script>
    var app = new Vue({
        el: '#department',
        data: {
            deptcode: "",
            deptclass: "",
            deptname: "",
            deptcat: "",
            depts: [],

            value: false,
            currentPage: 1, //初始页
            pagesize: 10,    //    每页的数据


            methodType: "",//add or update
            formTitle:"",
            dialogFormVisible: false,
            updatingIndex:-1,
            updatingObject:{},
            form: {
                deptcode: "",
                deptclass: "",
                deptname: "",
                deptcat:"",
            },
            formLabelWidth: '120px'
        },
        methods: {
            search: function () {
                this.currentPage = 1;
                var that = this;
                axios.post('/management/depts', {
                    deptcode: that.deptcode,
                    deptclass: that.deptclass,
                    deptname: that.deptname,
                    deptcat: that.deptcat,
                })
                    .then(function (response) {
                        console.log(response.data);
                        that.depts = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            onSubmit: function(){
                if(this.methodType=="Add")
                    this.onSubmitAdd();
                if(this.methodType=="Update")
                    this.onSubmitUpdate();
            },

            onSubmitAdd: function(){
                var that = this;
                console.log(that.form);
                axios.post('/management/addDept', {
                    deptcode: that.form.deptcode,
                    deptclass: that.form.deptclass,
                    deptname: that.form.deptname,
                    deptcat: that.form.deptcat,
                })
                .then(function (response) {
                    console.log(response.data);
                    // that.depts=response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            onSubmitUpdate: function () {
                var that = this;
                console.log(that.form);
                axios.post('/management/updateDept', {
                    deptcode: that.form.deptcode,
                    deptclass: that.form.deptclass,
                    deptname: that.form.deptname,
                    deptcat: that.form.deptcat
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            delDept: function (index, row) {
                var that = this;
                var params = new URLSearchParams();
                params.append('deptcode', row.deptcode);
                axios.post('/management/delDept', params)
                    .then(function (response) {
                        // console.log(index.data);
                        /*console.log(that.deptcode);
                        console.log(response.deptcode);
                        that.deptcode = row.deptcode;
                        that.deptcode = response.deptcode;*/
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },

            showDialogForm: function (method,index,row) {
                if (method == "Add") {
                    this.form = {
                        deptcode: "",
                        deptclass: "",
                        deptname: "",
                        deptcat: "",
                    }
                }
                if (method == "Update")
                    this.form = row;
                console.log(this.form);

                this.dialogFormVisible = true;
                this.methodType = method;
                this.formTitle = method + " Department";
                this.updatingIndex = index;
                this.updatingObject = row;
                console.log("Method using " + this.methodType);
                console.log("index " + index)
                console.log("row ");
                console.log(row)
            },



            handleSizeChange: function(pagesize) {
                this.pagesize = pagesize;
                console.log(pagesize);
            },
            handleCurrentChange: function(currentPage) {
                this.currentPage = currentPage;
                console.log(currentPage);
            }
        }
    })
</script>
</html>