<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="management">
        <input type="text" v-model="regid" placeholder="ID"/>
        <input type="text" v-model="isDefault" placeholder="Default"/>
        <input type="text" v-model="price" placeholder="Price"/>
        <input type="text" v-model="order" placeholder="Order"/>
        <input type="text" v-model="rpid" placeholder="Patient ID"/>
        <input type="text" v-model="deptcode" placeholder="Department code"/>
        <input type="text" v-model="did" placeholder="User ID"/>
        <input type="text" v-model="newRecord" placeholder="New Record"/>
        <input type="text" v-model="date" placeholder="Date"/>
        <button type="button" @click="search">search</button>


        <template>
            <el-table
                    :data="regs"
                    style="width: 100%">
                <el-table-column
                        prop="regid"
                        label="ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="isDefault"
                        label="Default"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="price"
                        label="Price"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="order"
                        label="Order"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="rpid"
                        label="Patient ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="deptcode"
                        label="Department Code"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="did"
                        label="User ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="newRecord"
                        label="New Record"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="Date"
                        width="180">
                </el-table-column>
            </el-table>
        </template>
    </div>
</body>



<script>
    var app = new Vue({
        el: '#management',
        data: {
            regid: "",
            isDefault: "",
            price: "",
            order:"",
            rpid: "",
            deptcode: "",
            did: "",
            newRecord: "",
            date: "",
            regs: []
        },
        methods: {
            search: function () {
                var that = this;
                axios.post('/management/registration', {
                    regid: that.regid,
                    isDefault: that.isDefault,
                    price: that.price,
                    order: that.order,
                    rpid: that.rpid,
                    deptcode: that.deptcode,
                    did: that.did,
                    newRecord: that.newRecord,
                    date: that.date
                })
                .then(function (response) {
                    console.log(response.data);
                    that.regs = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
</html>