<!DOCTYPE html>
<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="shift">
    <el-row :gutter="20">
        <el-col :span="12">
            <el-date-picker
                    v-model="value"
                    value-format="yyyy-MM-dd"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="To"
                    start-placeholder="Start Date"
                    end-placeholder="End Date"
                    :picker-options="pickerOptions">
            </el-date-picker>
        </el-col>
        <el-col :span="4">
            <el-button icon="el-icon-search" type="primary" @click="search">search</el-button>
        </el-col>
        <el-col :span="4">
            <el-button type="primary" @click="addRuleDialogForm">Add New Rules</el-button>
        </el-col>
        <el-col :span="4">
            <el-button type="primary" @click="showRuleDialogForm">Query Rules</el-button>
        </el-col>
    </el-row>

    <el-table
            :data="shift"
            style="width: 100%">
        <el-table-column
                prop="dutydate"
                label="Date"
                width="180"
                :formatter="dateFormatter">
        </el-table-column>
        <el-table-column
                prop="deptname"
                label="Department"
                width="180">
        </el-table-column>
        <el-table-column
                prop="username"
                label="Doctor"
                width="180">
        </el-table-column>
        <el-table-column
                prop="aorp"
                label="AM or PM"
                width="180"
                :formatter="aorpFormatter">
        </el-table-column>
        <el-table-column
                prop="nmedname"
                label="Register level"
                width="180">
        </el-table-column>
        <el-table-column
                prop="ration"
                label="Quota">
        </el-table-column>
    </el-table>
    <!--<el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 20, 40]"

                :page-size="pagesize"
                :hide-on-single-page="value"
                layout="total, sizes, prev, pager, next, jumper"
                :total="shift.length">
        </el-pagination>-->

</div>

<div id="rule">
    <el-dialog
            title="Shift Arrangement"
            :visible.sync="dialogVisible"
            width="100%">
        <el-row :gutter="20">
            <el-col :span="18">

                <el-input v-model="deptname" style="width:300px" placeholder="Enter DeptName"></el-input>
                <el-button type="primary" @click="searchRules">search</el-button>
            </el-col>
        </el-row>
        <el-table
                ref="multipleTable"
                :data="rules"
                style="width: 100%"
                tooltip-effect="dark"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="ruleid"
                    label="ID"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="rulename"
                    label="RuleName"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="UserName"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="deptname"
                    label="DeptName"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="timecode"
                    label="TimeArrange"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="reglevel"
                    label="RegisterLV"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="ration"
                    label="Ration"
                    width="180">
            </el-table-column>
        </el-table>
        <div style="margin-top: 20px">
            <el-button @click="toggleSelection()">Cancel Selection</el-button>
        </div>
        <div class="block">
            <el-row :gutter="20">
                <el-col :span="10">
                    <el-date-picker style="width:300px"
                                    v-model="ruledate"
                                    type="daterange"

                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                    </el-date-picker>
                </el-col>
                <el-col :span="4">
                    <el-input v-model="opid" style="width:100px" placeholder="OperatorID"></el-input>
                </el-col>
                <el-col :span="4">
                    <el-input v-model="ration" style="width:100px" placeholder="Ration"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-select v-model="reglevel" placeholder="Choose RegisterLV">
                        <el-option
                                v-for="item in items"
                                :key="item.itemcode"
                                :label="item.nmedname"
                                :value="item.itemcode">
                            <span style="float: left">{{ item.nmedname}}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.itemcode }}</span>
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>


            <el-button type="primary" @click="arrangeShift">Arrange Now!</el-button>
        </div>

        <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Close</el-button>
      </span>
    </el-dialog>
</div>

<div id="addRule">
    <el-dialog
            title="Add A New Rule"
            :visible.sync="dialogVisible"
            width="60%">
        <el-form ref="form" :model="form" label-width="80px">
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item>
                        <el-input v-model="form.username" style="width:200px" placeholder="User Name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-select v-model="form.deptname" placeholder="Choose Department">
                        <el-option
                                v-for="item in form.depts"
                                :key="item.deptcode"
                                :label="item.deptname"
                                :value="item.deptcode">
                            <span style="float: left">{{ item.deptname}}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.deptcode }}</span>
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item>

                            <el-input v-model="form.ration" style="width:200px" placeholder="Ration"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-select v-model="form.reglevel" placeholder="Choose RegisterLV">
                        <el-option
                                v-for="item in form.items"
                                :key="item.itemcode"
                                :label="item.nmedname"
                                :value="item.nmedname">
                            <span style="float: left">{{ item.nmedname}}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.itemcode }}</span>
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter="20"style="margin-left: 70px">
                <el-col :span="24">
                <el-checkbox-group v-model="form.checkboxGroup1" size="small">
                  <el-checkbox-button v-for="weekday in form.weekdays1" :label="weekday" :key="weekday" style="font-family:'Courier New'">{{weekday}}</el-checkbox-button>
                </el-checkbox-group>
                </el-col>
            </el-row>
            <el-row :gutter="20" style="margin-top: 10px; margin-left: 70px">
                <el-col :span="24">
                <el-checkbox-group v-model="form.checkboxGroup2" size="small">
                  <el-checkbox-button v-for="weekday in form.weekdays2" :label="weekday" :key="weekday" style="font-family:'Courier New'">{{weekday}}</el-checkbox-button>
                </el-checkbox-group>
                </el-col>
            </el-row>
             <el-row :gutter="20" style="margin-top: 20px">
                            <el-col :span="12">
                                <el-form-item>

                                        <el-input v-model="form.rulename" style="width:200px" placeholder="Rule Name"></el-input>

                                </el-form-item>
                            </el-col>
                        </el-row>
            <el-row :gutter="20" >

                    <el-col :span="12"><el-form-item><el-button type="primary" @click="ruleSubmit">Create</el-button></el-form-item></el-col>
                    <el-col :span="12"><el-form-item><el-button @click="dialogVisible = false">Cancel</el-button></el-form-item></el-col>

            </el-row>
        </el-form>
    </el-dialog>
</div>

</body>

<script>
    var app = new Vue({
        el: '#shift',
        data: {
            pickerOptions: {
                shortcuts: [{
                    text: 'Latest week',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Latest month',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Latest three months',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            dutydate: "",
            deptname: "",
            username: "",
            aorp: false,
            nmedname: "",
            ration: "",
            datee: "",
            dates: "",
            shift: [],
            value: [],

            /*currentPage: 1, //初始页
            pagesize: 10,    //    每页的数据*/

            deleteDialogVisible: false,//控制弹出删除窗口
            deletingIndex: -1,
            deletingObject: {},

            dialogFormVisible: false,
            updatingIndex: -1,
            updatingObject: {},


        },
        methods: {
            dateFormatter(row) {
                return row.dutydate.substr(0, 10)
            },
            aorpFormatter(row) {
                if (row.aorp == true) {
                    return "A.M."
                }
                if (row.aorp == false) {
                    return "P.M."
                }
            },
            search: function () {
                var params = new URLSearchParams();
                params.append("dates", this.value[0]);
                params.append("datee", this.value[1]);
                //this.currentPage = 1;
                var that = this;
                axios.post('/management/shift', params)
                    .then(function (response) {
                        console.log(response.data);
                        console.log(that.value[0]);
                        console.log(that.dates);
                        that.shift = response.data;
                        console.log(that.shift);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            showRuleDialogForm: function () {
                dialog.dialogVisible = true;
                dialog.fillRegSelect();
            },
            addRuleDialogForm: function () {
                addDialog.dialogVisible = true;
                addDialog.fillRegSelect();
                addDialog.fillDeptSelect();
            }

        }
    });

    const weekOptionsAM = ['SUN A.M.',
                         'MON A.M.',
                         'TUE A.M.',
                         'WED A.M.',
                         'THU A.M.',
                         'FRI A.M.',
                         'SAT A.M.',];
    const weekOptionsPM = ['SUN P.M.',
                           'MON P.M.',
                           'TUE P.M.',
                           'WED P.M.',
                           'THU P.M.',
                           'FRI P.M.',
                           'SAT P.M.',];
    var addDialog = new Vue({
        el: '#addRule',
        data: {
            dialogVisible: false,

            form: {
                username: '',
                deptname: '',
                reglevel: '',
                ration: '',
                items: [],
                depts:[],
                rulename:'',

                checkboxGroup1: [],
                checkboxGroup2: [],
                weekdays1: weekOptionsAM,
                weekdays2: weekOptionsPM,
            },


        },

        methods: {
            onSubmit() {
                console.log('submit!');
            },
            fillRegSelect: function () {
                var that = this;
                axios.get('/management/getRegLevel')
                    .then(function (response) {
                        console.log(response.data);
                        that.form.items= response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            fillDeptSelect: function () {
                var that = this;
                axios.get('/management/getDeptSelect')
                    .then(function (response) {
                        console.log(response.data);
                        that.form.depts = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            ruleSubmit:function() {
                var that = this;
                console.log(that.form);
                axios.post('/management/addRule', {
                    rulename: that.form.rulename,
                    username: that.form.username,
                    deptname: that.form.deptname,
                    reglevel: that.form.reglevel,
                    ration: that.form.ration,
                    checkboxGroup1: that.form.checkboxGroup1,
                    checkboxGroup2: that.form.checkboxGroup2,
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });

    var dialog = new Vue({
        el: '#rule',
        data: {

            dialogVisible: false,

            deptname: "",
            rules: [],
            multipleSelection: [],

            ruledate: [],
            ration: '',
            opid: '',
            reglevel: '',
            items: [],

        },
        methods: {

            searchRules: function () {
                var params = new URLSearchParams();
                params.append('deptname', this.deptname);
                //this.currentPage = 1;
                var that = this;
                axios.post('/management/getRules', params)
                    .then(function (response) {
                        console.log(response.data);
                        that.rules = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },

            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            arrangeShift: function () {

                console.log("ARRANGE!" + this.ruledate[0]);
                console.log(this.multipleSelection[0].timecode);
                var startwd = this.ruledate[0].getDay();
                var daycount = (this.ruledate[1] - this.ruledate[0]) / (1000 * 60 * 60 * 24);

                var params = [];
                for (var j = 0; j < this.multipleSelection.length; j++) {
                    for (var i = 0; i <= daycount; i++) {

                        var param = {
                            ruleid: "",
                            nmedname: "",
                            ration: "",
                            dutydate: new Date(),
                            userid: "",
                            aorp: true,
                        };
                        var param2 = {
                            ruleid: "",
                            nmedname: "",
                            ration: "",
                            dutydate: new Date(),
                            userid: "",
                            aorp: false,
                        };
                        param.ruleid = this.multipleSelection[j].ruleid;
                        param.nmedname = this.multipleSelection[j].reglevel;
                        param.ration = this.multipleSelection[j].ration;
                        param.dutydate.setDate(this.ruledate[0].getDate() + i);
                        param.userid = this.opid;
                        param2.ruleid = this.multipleSelection[j].ruleid;
                        param2.nmedname = this.multipleSelection[j].reglevel;
                        param2.ration = this.multipleSelection[j].ration;
                        param2.dutydate.setDate(this.ruledate[0].getDate() + i);
                        param2.userid = this.opid;

                        var morning = parseInt(this.multipleSelection[j].timecode[(2 * (i + startwd)) % 14]);

                        if (morning) {
                            params.push(param);
                        }

                        var afternoon = parseInt(this.multipleSelection[j].timecode[(2 * (i + startwd)) % 14 + 1]);

                        if (afternoon) {
                            params.push(param2);
                        }

                    }
                }


                axios({
                    url: '/management/updateShift',
                    method: 'post',
                    contentType: 'application/json', // 这句不加出现415错误:Unsupported Media Type
                    data: {
                        startdate: this.ruledate[0],
                        enddate: this.ruledate[1],
                        shifts: params
                    }
                    , // 以json字符串方式传递
                    success: function (data) {
                        console.log("success...");
                    },
                    error: function (data) {
                        console.log("error...");
                    }
                });
            },
            fillRegSelect: function () {
                var that = this;
                axios.get('/management/getRegLevel')
                    .then(function (response) {
                        console.log(response.data);
                        that.items = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    })
</script>

</html>