<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="management">
        <input type="text" v-model="userid" placeholder="ID"/>
        <input type="text" v-model="username" placeholder="User"/>
        <input type="text" v-model="pwd" placeholder="Password"/>
        <input type="text" v-model="realname" placeholder="Name"/>
        <input type="text" v-model="deptcode" placeholder="Department code"/>
        <input type="text" v-model="usercat" placeholder="Category"/>
        <input type="text" v-model="position" placeholder="Position"/>
        <input type="text" v-model="shiftOrNot" placeholder="Shift or not"/>
        <button type="button" @click="search">search</button>


        <template>
            <el-table
                    :data="users"
                    style="width: 100%">
                <el-table-column
                        prop="userid"
                        label="ID"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="username"
                        label="User"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="pwd"
                        label="Password"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="realname"
                        label="Name">
                </el-table-column>
                <el-table-column
                        prop="deptcode"
                        label="Department Code"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="usercat"
                        label="Category"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="position"
                        label="Position"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="shiftOrNot"
                        label="Shift or Not">
                </el-table-column>
            </el-table>
        </template>
    </div>
</body>



<script>
    var app = new Vue({
        el: '#management',
        data: {
            userid: "",
            username: "",
            pwd: "",
            realname:"",
            deptcode: "",
            usercat: "",
            position: "",
            shiftOrNot: "",
            users: []
        },
        methods: {
            search: function () {
                var that = this;
                axios.post('/management/users', {
                    userid: that.userid,
                    username: that.username,
                    pwd: that.pwd,
                    realname: that.realname,
                    deptcode: that.deptcode,
                    usercat: that.usercat,
                    position: that.position,
                    shiftOrNot: that.shiftOrNot
                })
                .then(function (response) {
                    console.log(response.data);
                    that.users = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
</html>