<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


    <!-- import Vue before Element -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
<div id="topbar">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item id="mng" index="1" v-on:click="navigateSidebarTo('management/sidebar.html')">Management
        </el-menu-item>
        <el-menu-item id="reg" index="2" v-on:click="navigateSidebarTo('register/sidebar.html')">Register & Payment
        </el-menu-item>
        <el-menu-item id="outp" index="3" v-on:click="navigateSidebarTo('outpatient/sidebar.html')">Outpatient Doctor
        </el-menu-item>
        <el-menu-item id="medt" index="4" v-on:click="navigateSidebarTo('medtech/sidebar.html')">Medical Treatment
        </el-menu-item>
        <el-menu-item id="phar" index="5" v-on:click="navigateSidebarTo('pharmacy/sidebar.html')">Pharmacy Management
        </el-menu-item>
        <el-menu-item id="fin" index="6" v-on:click="navigateSidebarTo('financial/sidebar.html')">Financial Management
        </el-menu-item>
        </el-menu>
</div>
<div id="app" style="text-align: center">
<!--    <el-dialog :visible.sync="loginDialogVisible" style="text-align: center; width: 70%; left: 20%">-->
<!--        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm"-->
<!--                 style="margin-left: auto;margin-right: auto;margin-top: 50px">-->
<!--            <el-form-item prop="username">-->
<!--                <el-input v-model="ruleForm.username" style="width:70%" autocomplete="off"-->
<!--                          placeholder="User Name"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item prop="password">-->
<!--                <el-input type="password" style="width: 70%" v-model="ruleForm.password" autocomplete="off"-->
<!--                          placeholder="Password"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item>-->
<!--                <el-button icon="el-icon-user" type="primary" @click="submitForm('ruleForm')">Login</el-button>-->
<!--                <el-button @click="resetForm('ruleForm')">Reset</el-button>-->
<!--            </el-form-item>-->
<!--        </el-form>-->
<!--    </el-dialog>-->
    <div class="line"></div>
    <el-row :span="24">
        <iframe  height="1200" frameborder="no" width="100%" scrolling="no" v-bind:src="url_sidebar" style="overflow: hidden"></iframe>
    </el-row>
</div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                url_sidebar: "register/sidebar.html",
                loginDialogVisible: true,

                ruleForm: {
                    username: '',
                    password: '',
                },
                rules: {
                    username: [{
                        validator: validateUserName,
                        trigger: 'blur'
                    }],
                    password: [
                        /* {validator: validatePassword, trigger: 'blur'}*/
                    ]
                },
                existUserName: [],
            };
            var validateUserName = (rule, value, callback) => {
                function checkUserName(value) {
                    var params = new URLSearchParams();
                    params.append("username", value);
                    axios.post('/management/checkUserName', params)
                        .then(function(response) {
                            console.log(response.data);
                            check = response.data;
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                }

                check = checkUserName(value);

                if (value === '') {
                    return callback(new Error('Please Enter User Name'));
                }
                setTimeout(() => {
                    if (check === false) {
                        loginDialogVisible = false;
                        console.log("Login successful");
                        callback();
                    } else {
                        callback(new Error('No Such User!'));
                    }
                }, 3000);
            };
            /*var validatePassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please Password'));
                } else {
                    callback();
                }
            };*/
        },
        methods: {
            handleSelect(key, keypath) {},
            handleOpen(key, keypath) {},
            navigateSidebarTo(url_sidebar) {
                console.log('called in app')
                this.url_sidebar = url_sidebar;
            },
            setUsertype(usertype) {
                this.usertype = usertype;
            },
            submitForm(formName) {
                var that = this;
                that.$refs[formName].validate((valid) => {
                    if (valid) {
                        var params = new URLSearchParams();
                        params.append("username", that.ruleForm.username);
                        params.append("password", that.ruleForm.password);
                        axios.post('/management/checkLogin', params)
                            .then(function(response) {
                                if (response.data) {
                                    let mng = document.getElementById("mng");
                                    let reg = document.getElementById("reg");
                                    let outp = document.getElementById("outp");
                                    let medt = document.getElementById("medt");
                                    let phar = document.getElementById("phar");
                                    let fin = document.getElementById("fin");

                                    /*"usertype" defines what kind of user entered the page
                                        
                                        manager - all privilages
                                        charger - only register tab
                                        outpatientdoctor - only outpatient doctor tab
                                        medical - only medical tab
                                        pharmacy - only pharmacy tab
                                        financial - only financial tab
                                    */
                                    var usertype = "manager";

                                    if (usertype == "manager") {
                                        //all privilages
                                    } else if (usertype == "charger") {
                                        mng.setAttribute("class", "el-menu-item is-disabled");
                                        mng.setAttribute("style", "pointer-events: none");
                                        outp.setAttribute("class", "el-menu-item is-disabled");
                                        outp.setAttribute("style", "pointer-events: none");
                                        medt.setAttribute("class", "el-menu-item is-disabled");
                                        medt.setAttribute("style", "pointer-events: none");
                                        phar.setAttribute("class", "el-menu-item is-disabled");
                                        phar.setAttribute("style", "pointer-events: none");
                                        fin.setAttribute("class", "el-menu-item is-disabled");
                                        fin.setAttribute("style", "pointer-events: none");
                                    } else if (usertype == "outpatientdoctor") {
                                        mng.setAttribute("class", "el-menu-item is-disabled");
                                        mng.setAttribute("style", "pointer-events: none");
                                        reg.setAttribute("class", "el-menu-item is-disabled");
                                        reg.setAttribute("style", "pointer-events: none");
                                        medt.setAttribute("class", "el-menu-item is-disabled");
                                        medt.setAttribute("style", "pointer-events: none");
                                        phar.setAttribute("class", "el-menu-item is-disabled");
                                        phar.setAttribute("style", "pointer-events: none");
                                        fin.setAttribute("class", "el-menu-item is-disabled");
                                        fin.setAttribute("style", "pointer-events: none");
                                    } else if (usertype == "medical") {
                                        mng.setAttribute("class", "el-menu-item is-disabled");
                                        mng.setAttribute("style", "pointer-events: none");
                                        reg.setAttribute("class", "el-menu-item is-disabled");
                                        reg.setAttribute("style", "pointer-events: none");
                                        outp.setAttribute("class", "el-menu-item is-disabled");
                                        outp.setAttribute("style", "pointer-events: none");
                                        phar.setAttribute("class", "el-menu-item is-disabled");
                                        phar.setAttribute("style", "pointer-events: none");
                                        fin.setAttribute("class", "el-menu-item is-disabled");
                                        fin.setAttribute("style", "pointer-events: none");
                                    } else if (usertype == "pharmacy") {
                                        mng.setAttribute("class", "el-menu-item is-disabled");
                                        mng.setAttribute("style", "pointer-events: none");
                                        reg.setAttribute("class", "el-menu-item is-disabled");
                                        reg.setAttribute("style", "pointer-events: none");
                                        outp.setAttribute("class", "el-menu-item is-disabled");
                                        outp.setAttribute("style", "pointer-events: none");
                                        medt.setAttribute("class", "el-menu-item is-disabled");
                                        medt.setAttribute("style", "pointer-events: none");
                                        fin.setAttribute("class", "el-menu-item is-disabled");
                                        fin.setAttribute("style", "pointer-events: none");
                                    } else if (usertype == "financial") {
                                        mng.setAttribute("class", "el-menu-item is-disabled");
                                        mng.setAttribute("style", "pointer-events: none");
                                        reg.setAttribute("class", "el-menu-item is-disabled");
                                        reg.setAttribute("style", "pointer-events: none");
                                        outp.setAttribute("class", "el-menu-item is-disabled");
                                        outp.setAttribute("style", "pointer-events: none");
                                        medt.setAttribute("class", "el-menu-item is-disabled");
                                        medt.setAttribute("style", "pointer-events: none");
                                        phar.setAttribute("class", "el-menu-item is-disabled");
                                        phar.setAttribute("style", "pointer-events: none");
                                    }
                                    that.loginDialogVisible = false;

                                    console.log("Login Success.");
                                    alert('Login Success! Welcome: ' + params.get("username"));
                                } else {
                                    console.log("Wrong Password.");
                                    alert('Wrong Password.');
                                }
                            })
                            .catch(function(error) {
                                console.log(error);
                            });

                    } else {
                        console.log('Error Submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
        }
    })
    var topbar = new Vue({
        el: '#topbar',
        data: function() {
            return {
                activeIndex: '1',
            };
        },
        methods: {
            handleSelect(key, keypath) {},
            handleOpen(key, keypath) {},
            navigateSidebarTo(url) {
                console.log('called in topbar');
                app.navigateSidebarTo(url);
            }
        }
    })
</script>


</html>