<html>
<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="patentmed">
    <el-container>
        <!--up operation-->
        <el-header>
            <el-card class="box-card">
                <el-row type="flex" justify="space-between">
                    <el-col :span="4">
                        <el-tag size="medium" effect="plain">Pre-Diagnosis</el-tag>
                    </el-col>
                    <el-col :span="20">
                        <el-button size="small" icon="el-icon-circle-plus-outline" type="primary"
                                   @click="newPreVisible = true"
                                   round>Add
                        </el-button>
                        <el-button size="small" :disabled="currentStated"
                                   icon="el-icon-remove-outline" type="primary" @click="delPre" round>Delete
                        </el-button>
                        <el-button size="small" :disabled="currentStateo"
                                   icon="el-icon-circle-check" type="primary" @click="changeState('Opened')" round>Open
                        </el-button>
                        <el-button size="small" :disabled="currentStater"
                                   icon="el-icon-delete" type="primary" @click="changeState('Revoked')" round>Revoke</el-button>
                        <el-button size="small" icon="el-icon-edit-outline" type="primary" @click="" round>Save
                        </el-button>
                        <el-button size="small" icon="el-icon-refresh" type="primary" @click="" round>Refresh
                        </el-button>
                    </el-col>
                </el-row>
            </el-card>
        </el-header>

        <el-container style="margin-top: 30px">
            <!--left prescription info-->
            <el-aside width="250px">
                <el-row>
                    <el-tag type="success" size="medium" effect="plain">Prescription</el-tag>
                    <!--template dropdown-->
                    <el-dropdown trigger="click">
                        <el-button size="small" icon="el-icon-arrow-down" type="primary" style="margin-left: 30px"
                                   plain>
                            <i class="el-icon-s-order"></i>Template
                        </el-button>
                        <el-dropdown-menu slot="dropdown" style="width: 250px">
                            <el-dropdown-item v-popover:popover>
                                <el-popover ref="popover" placement="left" width="400" trigger="hover">
                                    <el-table :data="template">
                                        <el-table-column width="150" property="itemname"
                                                         label="TreatmentName"></el-table-column>
                                        <el-table-column width="150" property="deptname"
                                                         label="Department"></el-table-column>
                                        <el-table-column width="100" property="price"
                                                         label="Price"></el-table-column>
                                    </el-table>
                                </el-popover>
                                <el-row type="flex" justify="space-between">
                                    <el-col :span="8"><i class="el-icon-arrow-left"></i> 狮子头</el-col>
                                    <el-col :span="6">
                                        <el-link :underline="false" icon="el-icon-circle-plus"></el-link>
                                        <el-link :underline="false" icon="el-icon-delete-solid"></el-link>
                                    </el-col>
                                </el-row>
                            </el-dropdown-item>
                            <el-dropdown-item icon="el-icon-arrow-left">螺蛳粉</el-dropdown-item>
                            <el-dropdown-item icon="el-icon-arrow-left">双皮奶</el-dropdown-item>
                            <el-dropdown-item icon="el-icon-arrow-left">蚵仔煎</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-row>
                            <!--prescription table-->
                <el-table :data="prescription"
                          highlight-current-row
                          ref="singleTable"
                          @current-change="handleCurrentChange">
                    <el-table-column width="100" property="prename" label="Name"></el-table-column>
                    <el-table-column width="100" property="state" label="State"></el-table-column>
                </el-table>
            </el-aside>
                    <!--prescription details-->
            <el-main style="padding: 0">
                <el-card class="box-card">
                    <el-row type="flex" justify="space-between">
                        <el-col :span="6">
                            <el-input size="small" prefix-icon="el-icon-coin" v-model="totalprice"
                                      :disabled="true"></el-input>
                        </el-col>
                        <el-col :span="6">
                            <el-button size="small" icon="el-icon-circle-plus-outline" type="primary"
                                       :disabled="currentStatea"
                                       @click="addMedicineDialog">
                                Add Medicine
                            </el-button>
                        </el-col>
                    </el-row>
                                    <!--details table-->
                    <el-table :data="medicine">
                        <el-table-column width="150" property="itemname" label="Name"></el-table-column>
                        <el-table-column width="100" property="size" label="Size"></el-table-column>
                        <el-table-column width="100" property="price" label="Price"></el-table-column>
                        <el-table-column width="100" property="count" label="Count"></el-table-column>
                        <el-table-column
                                fixed="right"
                                label="Operation"
                                width="100">
                            <span slot-scope="scope">
                                <el-button icon="el-icon-remove-outline" size="medium" type="text"
                                           @click="delMed(scope.$index, scope.row)">Delete</el-button>
                            </span>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
                    <!--add new prescription-->
    <el-dialog
            title="New Prescription"
            :visible.sync="newPreVisible"
            width="65%">
        <el-row :gutter="20">
            <el-col :span="24">
                <el-input v-model="prename" style="width:300px" placeholder="Enter Name"></el-input>
            </el-col>
        </el-row>
        <el-row type="flex" justify="space-between" style="margin-top: 20px">
            <el-button type="primary" @click="createConfirmDialog">Create</el-button>
            <el-button @click="newPreVisible=false">Cancel</el-button>
        </el-row>
    </el-dialog>
</div>
                        <!--add medicine-->
<div id="addDialog">
    <el-dialog
            title="Add Medicine"
            :visible.sync="dialogVisible"
            width="65%">
        <el-row :gutter="20">
            <el-col :span="24">
                <el-input v-model="itemcode" style="width:300px" placeholder="Enter PingYin Code"></el-input>
                <el-button icon="el-icon-search" type="primary" @click="searchMedicine(itemcode)">search</el-button>
            </el-col>
        </el-row>
        <!--medicine form-->
        <el-table :data="medicine"
                  style="width: 100%"
                  tooltip-effect="dark">
            <el-table-column
                    fixed="left"
                    prop="itemname"
                    label="Medicine Name"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="size"
                    label="Size"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="Price"
                    width="130">
            </el-table-column>
        </el-table>
        <el-row :gutter="20" style="margin-top: 20px" type="flex" justify="space-around">
            <el-col :span="8">
                <el-input-number style="width: 160px" @change="handleChange"
                                 size="medium" v-model="number">
                </el-input-number>
            </el-col>
            <el-col :span="10">
                <el-button type="primary" @click="openConfirmDialog">Confirm</el-button>
                <el-button @click="dialogVisible=false">Cancel</el-button>
            </el-col>
        </el-row>
    </el-dialog>
</div>

<script>
    var patentmed = new Vue({
        el: '#patentmed',
        data: {
            newPreVisible: false,

            totalprice:'',
            number: 1,
            preid:'',
            uRid:1,
            regid:"",
            pretype:"成药",
            prename: "",
            state:"",
            currentRow: {},
            currentStated:false,
            currentStateo:false,
            currentStater:false,
            currentStatea:true,
            prescription: [],
            template: [],
            medicine: [],
        },
        mounted: function(){
            /*var params = new URLSearchParams();
            params.append("uRid",this.uRid);
            params.append("regid",parent.patient.regid);*/
            //用上面方法会报错415，应该将数据重新组装成JSON
            var that = this;
            axios.post('/outpatient/getPre', {
                uRid:this.uRid,
                regid:parent.patient.regid,
            })
                .then(function (response) {
                    console.log(response.data);
                    that.prescription = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            stateTrans:function(judgestate){
                if(judgestate){
                    if(judgestate==='Opened'){
                        this.currentStated=true;
                        this.currentStateo=true;
                        this.currentStater=false;
                        this.currentStatea=true;
                    }else if (judgestate==='Revoked'||judgestate==='Executed'){
                        this.currentStated=true;
                        this.currentStateo=true;
                        this.currentStater=true;
                        this.currentStatea=true;
                    }else if(judgestate==='Saved'){
                        this.currentStated=false;
                        this.currentStateo=false;
                        this.currentStater=true;
                        this.currentStatea=false;
                    } else{
                        this.currentStated=false;
                        this.currentStateo=false;
                        this.currentStater=false;
                        this.currentStatea=true;
                    }
                }
            },
            addMedicineDialog() {
                dialog.dialogVisible = true;
            },
            refreshPre:function(){
                var that = this;
                axios.post('/outpatient/getPre', {
                    uRid:this.uRid,
                    regid:parent.patient.regid,
                })
                    .then(function (response) {
                        that.prescription = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            createConfirmDialog: function () {
                var that= this;
                var params = new URLSearchParams();
                params.append('uRid',this.uRid);
                params.append('regid',parent.patient.regid);
                params.append('pretype',this.pretype);
                params.append('prename',this.prename);
                this.$confirm('Sure to create?', 'Notice', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.newPreVisible = false;
                    axios.post('/outpatient/addPre',params)
                        .then(function (response) {
                            that.refreshPre();
                        }).catch(function(error){
                        console.log(error);
                    });
                    this.$message({
                        type: 'success',
                        message: 'Add Succeed!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel Addition.'
                    });
                });
            },
            delPre:function(){
                var that= this;
                var params = new URLSearchParams();
                params.append('preid',this.currentRow.preid);
                this.$confirm('Sure to delete?', 'Notice', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post('/outpatient/delPre',params)
                        .then(function (response) {
                            that.refreshPre();
                        }).catch(function(error){
                        console.log(error);
                    });
                    this.$message({
                        type: 'success',
                        message: 'Delete Succeed!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel'
                    });
                });
            },
            changeState:function(pickstate){
                var that= this;
                var params = new URLSearchParams();
                params.append('state',pickstate);
                params.append('preid',this.currentRow.preid);
                this.$confirm('Sure to change?', 'Notice', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post('/outpatient/changeState',params)
                        .then(function (response) {
                            that.refreshPre();
                        }).catch(function(error){
                        console.log(error);
                    });
                    this.$message({
                        type: 'success',
                        message: 'Change Succeed!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel'
                    });
                });
            },
            handleCurrentChange(val) {
                this.currentRow = val;
                dialog.preid=val.preid;
                var judgestate=val.state;
                this.stateTrans(judgestate);
                var that = this;
                this.totalprice=0;
                var params = new URLSearchParams();
                params.append("preid",val.preid);
                axios.post('/outpatient/getItem', params)
                    .then(function (response) {
                        that.medicine = response.data;
                        for(var i=0;i<that.medicine.length;i++){
                            that.totalprice += (that.medicine[i].price) * (that.medicine[i].count);
                            // console.log(i+":"+that.totalprice);
                        }
                        that.totalprice = parseFloat(that.totalprice).toFixed(2);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            delMed:function(index,row){
                var that= this;
                var params = new URLSearchParams();
                params.append('preRelid', this.medicine[index].preRelid);
                this.$confirm('Do you want to delete this item?', 'Notice', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post('/outpatient/delMed',params)
                        .then(function (response) {
                            that.refreshItem();
                        }).catch(function(error){
                        console.log(error);
                    });
                    this.$message({
                        type: 'success',
                        message: 'Delete success!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel!'
                    });
                });
            },
            refreshItem:function () {
                var that = this;
                var params = new URLSearchParams();
                params.append("preid",this.currentRow.preid);
                axios.post('/outpatient/getItem', params)
                    .then(function (response) {
                        // console.log(response.data);
                        that.medicine = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });

    var dialog = new Vue({
        el: '#addDialog',
        data() {
            return {
                dialogVisible: false,
                itemcode: '',
                preid:'',
                medicine: [],
                number: 1,
            }
        },
        methods: {
            searchMedicine: function (itemcode) {
                var params = new URLSearchParams();
                params.append("itemcode",this.itemcode);
                var that = this;
                axios.post('/outpatient/getMed',params)
                    .then(function (response) {
                        console.log(response.data);
                        that.medicine=response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            openConfirmDialog: function () {
                var params = new URLSearchParams();
                params.append("preid",this.preid);
                params.append("itemcode",this.itemcode);
                params.append("count",this.number);
                var that = this;
                this.$confirm('Sure to add?', 'Notice', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post('/outpatient/addMed',params)
                        .then(function (response) {
                            patentmed.refreshItem();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    this.dialogVisible = false;
                    this.$message({
                        type: 'success',
                        message: 'Add Succeed!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel Addition.'
                    });
                });
            },
            handleChange(value) {
                this.number=value;
            },
        }
    })
</script>
</body>
</html>