.d-element{
    text-align: center;
}

.form-layout{
    position: absolute;
    left: 200px;
    top:200px;
    height: fit-content;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}