<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="register">
        <h3 style="padding: 2%">Register information</h3>

        <!------------------TODO: CLEAR DOESNT WORK YET------------------->
        <el-button style="position: absolute; left: 85vw; top: 5vh;" type="primary" plain size="medium"
                   @click="paymentFormVisible = true; ">Clear
        </el-button>

        <el-row :gutter="20" style="padding: 2%">
            <el-col :span="6">
                <el-input style="padding: 3%" placeholder="Patient ID" v-model="patientInfo.pid" size="medium"></el-input>
                <el-input style="padding: 3%" placeholder="Name" v-model="patientInfo.pname" size="medium"></el-input>
                <el-input style="padding: 3%" placeholder="Age" v-model="patientInfo.page" size="medium"></el-input>
                <el-date-picker style="padding: 3%; width: 100%" v-model="patientInfo.pbirth" type="date" placeholder="Birth Date"
                                size="medium">
                </el-date-picker>
                <el-input style="padding: 3%" placeholder="Address" v-model="patientInfo.paddress" size="medium"></el-input>
                <el-row style="padding: 3%;">
                    <el-radio-group v-model="patientInfo.pgender">
                        <el-radio :label="true">Male</el-radio>
                        <el-radio :label="false">Female</el-radio>
                    </el-radio-group>
                </el-row>

                <!-- Billing Category -->
                <el-select style="padding: 3%; width: 100%;" v-model="billcat" placeholder="Billing category"
                           size="medium">
                    <el-option v-for="item in bills" :key="item.constid" :label="item.constname" :value="item.constname">
                    </el-option>
                </el-select>

                <el-row style="padding: 3%;">
                    <el-checkbox v-model="newrecord">New Medical Record</el-checkbox>
                </el-row>
            </el-col>

            <el-col :span="6">

                <!-- Am or PM -->
                <el-row style="padding: 5%; padding-top: 8%">
                    <el-radio-group @change="onChangeScreeningConditions()" v-model="screeningConditions.aorp">
                        <el-radio :label="true">Morning</el-radio>
                        <el-radio :label="false">Afternoon</el-radio>
                    </el-radio-group>
                </el-row>

                <!-- Departments -->
                <el-select style="padding: 3%; width: 100%;" v-model="screeningConditions.deptcode" placeholder="Department"
                           @change="onChangeScreeningConditions()" size="medium" >
                    <el-option v-for="item in depts" :key="item.deptcode" :label="item.deptname" :value="item.deptcode">
                    </el-option>
                </el-select>

                <!-- registrationLevel -->
                <el-select style="padding: 3%; width: 100%;" v-model="screeningConditions.registrationLevel" placeholder="Register level"
                           @change="onChangeScreeningConditions()" size="medium">
                    <el-option v-for="item in registrationLevels" :key="item.itemcode" :label="item.nmedname" :value="item.nmedname">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="12">
                <el-table :data="shifts" style="width: 100%" ref="multipleTable">
                    <el-table-column style="text-align: center" prop="realname" label="Doctor" width="180">
                    </el-table-column>
                    <el-table-column style="text-align: center" prop="balance" label="Spots Left" width="180">
                    </el-table-column>
                    <el-table-column style="text-align: center" label="" width="40">
                        <template slot-scope="scope">
                            <i size="medium" class="el-icon-circle-plus-outline"
                               v-on:click="showPaymentDialogForm(scope.row)"></i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>

        <!-----------    PAYMENT FORM     ---------->
        <el-dialog style="width: 1000px" title="Confirm Registration" :visible.sync="paymentFormVisible">
            <el-row>
                <h3>Items</h3>
            </el-row>
            <el-divider></el-divider>
            <el-row style="margin-left: 10px" type="flex" justify="space-around">
                <el-col :span="8">
                    Registration Type
                </el-col>
                <el-col :span="8">
                    {{fee}}
                </el-col>
            </el-row>
            <el-row v-if="newrecord" style="margin: 10px 0 0 10px;" type="flex" justify="space-around">
                <el-col :span="8">
                    New Record
                </el-col>
                <el-col :span="8">
                    1
                </el-col>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" plain @click="paymentFormVisible = false; calculatePayment()">Cancel
                </el-button>
                <el-button type="primary" size="medium" @click="onConfirm">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</body>



<script>
    var app = new Vue({
        el: '#register',
        data: {
            patientInfo: {
                pid: "",
                pname: "",
                page: "",
                pbirth: "",
                paddress: "",
                pgender: false,
            },

            //To get all the shifts available we need:
            screeningConditions:{
                deptcode:"",
                aorp: true,
                registrationLevel:""
            },

            billcat: "",
            newrecord: false,
            fee: "",
            selectedShift:{},

            paymentFormVisible: false,

            bills: [], // Drop Down for billing Categories
            depts: [], //Drop down for departments
            registrationLevels:[], //Drop down for registrationLevels
            //shifts in the table
            shifts:[]
        },

        mounted: function(){
            console.log("refreshed")
            var that = this;

            axios({
                url: '/registration/getDoctorsAvailable',
                method: 'post',
                contentType: 'application/json', // 这句不加出现415错误:Unsupported Media Type
                data:  this.screeningConditions,
            })
            .then(function (response) {
                console.log("success getting shifts...");
                console.log(response.data)
                that.shifts = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });


            //Billing Category
            axios.post('/management/consts', {
                constid: "",
                consttype: "billcat",
                constname: "",
                constcode: ""
            })
            .then(function (response) {
                // console.log(response.data);
                that.bills = response.data;
                // console.log("billing category");
                // console.log(that.bills);
            })
            .catch(function (error) {
                console.log(error);
            });

            axios.post('/management/depts', {})
            .then(function (response) {
                // console.log(response.data);
                that.depts = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });

             axios.post('/management/nonmedics', {
                 itemcode: "",
                 feecode: "GHF",
                 deptcode: "",
                 nmedname: "",
                 size: "",
                 price: "",
             })
            .then(function (response) {
                // console.log(response.data);
                that.registrationLevels = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
        },

        methods: {
            refresh:function(){
                console.log("refresh!!!")
                this.currentPage = 1;
                var that = this;
                that.users = []
                axios.post('/management/users', {
                    userid: "",
                    username: "",
                    pwd: "",
                    realname: "",
                    usercat: "",
                    position: "",
                    shiftOrNot: ""
                })
                .then(function (response) {
                    console.log(response.data);
                    that.users = response.data;
                })
                .catch(function (error) {
                   console.log(error);
                });
            },

            onChangeScreeningConditions(){
                console.log("onChangescreeningConditions")
                console.log(this.screeningConditions);
                var that = this;
                axios({
                    url: '/registration/getDoctorsAvailable',
                    method: 'post',
                    contentType: 'application/json', // 这句不加出现415错误:Unsupported Media Type
                    data:  this.screeningConditions,
                })
                .then(function (response) {
                    console.log("successful got shifts")
                    that.shifts = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            // -----------PAYMENT STUFF --------------/
            calculatePayment: function() {
                var that = this;
                axios({
                    url: '/registration/getRegistrationPrice',
                    method: 'post',
                    contentType: 'application/json', // 这句不加出现415错误:Unsupported Media Type
                    data:{
                        selectedShift: that.selectedShift,
                    },
                })
                    .then(function (response) {
                        console.log("success get price");
                        that.fee = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            showPaymentDialogForm: function(row){
                this.paymentFormVisible = true;
                this.selectedShift = row;
                this.calculatePayment();
                console.log("this.selectedShift = row;")
                console.log(this.selectedShift)
            },

            onConfirm: function() {
                console.log("onConfirm")
                console.log(this.patientInfo)
                var that = this;
                axios({
                    url: '/registration/submitRegistration',
                    method: 'post',
                    contentType: 'application/json', // 这句不加出现415错误:Unsupported Media Type
                    data:{
                        patient: that.patientInfo,
                        selectedShift: that.selectedShift,
                        billcat: that.billcat,
                        newrecord: that.newrecord
                    },
                })
                .then(function (response) {
                    console.log("success register");
                })
                .catch(function (error) {
                    console.log(error);
                });
                this.paymentFormVisible = false;
            }
        }
    })
</script>

<style>
    body{
        font-family: Helvetica, sans-serif;
    }
</style>
</html>