<html>

<head>
    <title>HIS System</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="register">
        <h3 style="padding: 2%">Register information</h3>
        <el-row :gutter="20" style="padding: 2%">
            <el-col :span="6">
                <el-input style="padding: 3%" placeholder="Patient ID" v-model="pid" size="small"></el-input>
                <el-input style="padding: 3%" placeholder="Name" v-model="pname" size="small"></el-input>
                <el-input style="padding: 3%" placeholder="Age" v-model="page" size="small"></el-input>
                <el-input style="padding: 3%" placeholder="Birth date (YYYY/MM/DD)" v-model="pbirth" size="small">
                </el-input>
                <el-input style="padding: 3%" placeholder="Address" v-model="paddress" size="small"></el-input>
                <el-select style="padding: 3%" v-model="pgender" placeholder="Gender" style="width: 100%" size="small">
                    <el-option v-for="item in genders" :key="item" :label="item" :value="item">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6">
                <el-row style="padding: 3%">
                    <el-radio v-model="aorp" label="morning">Morning</el-radio>
                    <el-radio v-model="aorp" label="afternoon">Afternoon</el-radio>
                </el-row>
                <el-select style="padding: 3%" v-model="billcat" placeholder="Billing category" style="width: 100%" size="small">
                    <el-option v-for="item in bills" :key="item.billid" :label="item.billcat" :value="item.billcat">
                    </el-option>
                </el-select>
                <el-input style="padding: 3%" placeholder="Register date (YYYY/MM/DD)" v-model="date" size="small">
                </el-input>
                <el-select style="padding: 3%" v-model="username" multiple placeholder="Username" style="width: 100%" size="small">
                    <el-option v-for="item in users" :key="item.userid" :label="item.username" :value="item.username">
                    </el-option>
                </el-select>
                <el-select style="padding: 3%" v-model="dept" multiple placeholder="Department" style="width: 100%" size="small">
                    <el-option v-for="item in depts" :key="item.deptcode" :label="item.deptname" :value="item.deptcode">
                    </el-option>
                </el-select>
                <el-row>
                    <el-col :span="16">
                        <el-radio style="padding: 3%" v-model="newrecord" label="newRecord" style="padding: 6px">New record
                        </el-radio>
                    </el-col>
                    <el-col :span="8">
                        <el-button type="primary" plain size="small" @click="paymentFormVisible = true; ">submit
                        </el-button>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>

        <!-------------    PAYMENT FORM     ------------>
        <el-dialog :title="formTitle" :visible.sync="paymentFormVisible">
            <el-form :model="paymentform" style="text-align: center">
                <el-form-item label="Payment information">
                    <h3 style="padding: 10%">Total expanses ${{fee}}</h3>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" plain @click="paymentFormVisible = false; calculatePayment()">Cancel
                </el-button>
                <el-button type="primary" size="medium" @click="onConfirm">Confirm</el-button>
            </div>
        </el-dialog>
    </div>
</body>



<script>
    var app = new Vue({
        el: '#register',
        data: {
            pid: "",
            pname: "",
            page: "",
            pbirth: "",
            paddress: "",
            pgender: "",
            billcat: "",
            date: "",
            username: "",
            dept: "",
            newrecord: "",
            aorp: "",
            fee: 100,
            paymentFormVisible: false,
            methodType: "",
            genders: [],
            bills: [],
            depts: [],
            users: [],

            //<-------------------TEMP VALUES FOR FRONT-END TESTING---------------------->
            genders: ["Male", "Female"],

            billingCategories:[],

            bills: {
                bill_1: {
                    billid: 123,
                    itemcode: "ASD",
                    billdate: "HAGS",
                    pid: 123,
                    billcat: "Tatss",
                    count: 1,
                    totalprice: 100,
                    feecode: "JGOS",
                    isPaid: true,
                    isPring: true
                }
            },

            users: {
                user_1: {
                    userid: 152,
                    username: "SHT_2",
                    pwd: "asjjfjasi",
                    realname: "John",
                    usercat: "Doctor",
                    position: "aosgsgas",
                    shiftOrNot: false
                },
                user_2: {
                    userid: 1295,
                    username: "hsO2",
                    pwd: "asgasd",
                    realname: "Jake",
                    usercat: "Doctor",
                    position: "goasot",
                    shiftOrNot: true
                },
                user_3: {
                    userid: 9692,
                    username: "w0ers",
                    pwd: "moni4ko1",
                    realname: "Simeon",
                    usercat: "Doctor",
                    position: "mid",
                    shiftOrNot: true
                }
            },

            depts: {
                dept_1: {
                    deptcode: 5122,
                    deptclass: "noclue",
                    deptname: "LAINO",
                    deptcat: "doctorstuffidk"
                },
                dept_2: {
                    deptcode: 9213,
                    deptclass: "noclue",
                    deptname: "KYP",
                    deptcat: "doctorstuffidk"
                },
                dept_3: {
                    deptcode: 3132,
                    deptclass: "noclue",
                    deptname: "PATKA",
                    deptcat: "doctorstuffidk"
                }
            },
            //-------------------------END OF TEMP VALUES------------------------------>

            patients: [],
            consts: [],

            value: false,
            currentPage: 1, //初始页
            pagesize: 10, //    每页的数据


            methodType: "", //调用方法，add or update
            formLabelWidth: 30,
            dialogFormVisible: false,
            updatingIndex: -1,
            updatingObject: {},

            //delete
            deleteDialogVisible: false, //控制弹出删除窗口
            deletingIndex: -1,
            deletingObject: {},
        },

        mounted:{

        },

        methods: {
            search: function() {
                this.currentPage = 1;
                var that = this;
                axios.post('/management/consts', {
                        constid: that.constid,
                        consttype: that.constype,
                        constname: that.constname,
                        constcode: that.constcode,
                    })
                    .then(function(response) {
                        console.log(response.data);
                        that.consts = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            // -----------PAYMENT STUFF --------------/
            calculatePayment: function() {
                // TODO: Payement calculation logic
            },

            onConfirm: function() {
                // TODO: Confirmation logic
            }
        }
    })
</script>

</html>