<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.BillMapper">

    <insert id="insertBill">
        insert into bill
        (totalprice, pid, count, billdate, isPaid, itemcode, isPrint, feecode, isDone, billcat)
        values
        (#{totalprice}, #{pid}, #{count}, now(), #{isPaid}, #{itemcode}, #{isPrint}, #{feecode}, #{isDone}, #{billcat})
    </insert>

    <sql id="getBillsByPid">
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        nm.itemname as itemname, f.feename as feename
        from bill b
        join non_medic nm on nm.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
    </sql>

    <select id="getUnpaidBills" resultType="Bill" >
        <include refid="getBillsByPid"></include>
        where pid = #{pid}
        and  isPaid = #{isPaid}
    </select>

    <select id="getUndoneBills" resultType="Bill" >
        <include refid="getBillsByPid"></include>
        where pid = #{pid}
        and  isDone = #{isDone}
    </select>

    <update id="changeStateToPaid">
        update bill set isPaid = true
        where billid = #{billId}
    </update>

    <delete id="deleteBill">
        delete from bill where billid = #{billId}
    </delete>
</mapper>
