<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.BillMapper">

    <insert id="insertBill">
        insert into bill
        (totalprice, pid, count, billdate, isPaid, itemcode, isPrint, feecode, isDone, billcat)
        values
        (#{totalprice}, #{pid}, #{count}, now(), #{isPaid}, #{itemcode}, #{isPrint}, #{feecode}, #{isDone}, #{billcat})
    </insert>

    <sql id="getNonMedicBillsByPid">
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        nm.itemname as itemname, f.feename as feename
        from bill b
        join non_medic nm on nm.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where pid = #{pid}
    </sql>

    <sql id="getMedicBillsByPid">
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        m.itemname as itemname, f.feename as feename
        from bill b
        join medicine m on m.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where pid = #{pid}
    </sql>

    <select id="getBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        union
        <include refid="getMedicBillsByPid"></include>
    </select>

    <select id="getUnpaidBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        and  isPaid = #{isPaid}
        and totalprice>0
        union
        <include refid="getMedicBillsByPid"></include>
        and  isPaid = #{isPaid}
        and totalprice>0
    </select>

    <select id="getUndoneBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        and  isDone = #{isDone}
        union
        <include refid="getMedicBillsByPid"></include>
        and  isDone = #{isDone}
    </select>

    <update id="changeStateToPaid">
        update bill set isPaid = true
        where billid = #{billId}
    </update>

    <delete id="deleteBill">
        delete from bill where billid = #{billId}
    </delete>

    <update id="changeStateToDone">
        update bill set isDone = true
        where billid = #{billId}
    </update>
</mapper>
