<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.BillMapper">

    <insert id="insertBill">
        insert into bill
        (totalprice, pid, count, billdate, isPaid, itemcode, isPrint, feecode, isDone, billcat,treatcat)
        values
        (#{totalprice}, #{pid}, #{count}, now(), #{isPaid}, #{itemcode}, #{isPrint}, #{feecode}, #{isDone}, #{billcat},'register')
    </insert>

    <sql id="getNonMedicBillsByPid">
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        nm.itemname as itemname, f.feename as feename
        from bill b
        join non_medic nm on nm.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where pid = #{pid}
    </sql>

    <sql id="getMedicBillsByPid">
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        m.itemname as itemname, f.feename as feename
        from bill b
        join medicine m on m.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where pid = #{pid}
    </sql>


    <select id="getBillsByRecid" resultType="Bill" >
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        nm.itemname as itemname, f.feename as feename
        from bill b
        join non_medic nm on nm.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where b.recid = #{recid}
        union
        select billid, totalprice, pid, count, billdate, isPaid, b.itemcode, isPrint, b.feecode, isDone, billcat,
        m.itemname as itemname, f.feename as feename
        from bill b
        join medicine m on m.itemcode = b.itemcode
        join fee f on f.feecode = b.feecode
        where b.recid = #{recid}
    </select>


    <select id="getBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        union
        <include refid="getMedicBillsByPid"></include>
    </select>

    <select id="getUnpaidBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        and  isPaid = #{isPaid}
        and totalprice>0
        union
        <include refid="getMedicBillsByPid"></include>
        and  isPaid = #{isPaid}
        and totalprice>0
    </select>

    <select id="getUndoneBills" resultType="Bill" >
        <include refid="getNonMedicBillsByPid"></include>
        and  isDone = #{isDone}
        union
        <include refid="getMedicBillsByPid"></include>
        and  isDone = #{isDone}
    </select>

    <update id="changeStateToPaid">
        update bill set isPaid = true
        where billid = #{billId}
    </update>

    <delete id="deleteBill">
        delete from bill where billid = #{billId}
    </delete>

    <update id="changeStateToDone">
        update bill set isDone = true
        where billid = #{billId}
    </update>

    <!--  ADD BILLING OF OUTPATIENT PART  -->
    <insert id="addExamToBill" useGeneratedKeys="true" keyProperty="billid">
        insert into his.bill(totalprice, pid, count, itemcode, billdate, isPaid, treatcat, isPrint, feecode, isDone, billcat, treatid) values
        <foreach item="item" collection="items" separator=",">
            (#{item.price}, #{pid}, 1, #{item.itemcode}, now(), 0, 'exam', 0, #{item.feecode}, 0, #{billcat}, #{item.exid})
        </foreach>
    </insert>

    <insert id="addPreToBill" useGeneratedKeys="true" keyProperty="billid">
        insert into his.bill(totalprice, pid, count, itemcode, billdate, isPaid, treatcat, isPrint, feecode, isDone, billcat, treatid) values
        <foreach item="item" collection="medicineList" separator=",">
            (#{item.price}, #{pid}, #{item.count}, #{item.itemcode}, now(), 0, 'prescription', 0, #{feecode}, 0, #{billcat}, #{preid})
        </foreach>
    </insert>

    <select id="getURidByBillid" resultType="Integer">
        select uRid from his.bill b
        <if test="treatcat == 'exam'">
        join his.exam e on b.treatid = e.exid</if>
        <if test="treatcat == 'prescription'">
        join his.prescription p on b.treatid = p.preid</if>
        <if test="treatcat == 'register'">
        join his.register r on b.treatid = r.regid</if>
        where billid = #{billid}

    </select>

    <select id="getTreatcatByBillid" resultType="String">
        select treatcat from his.bill where billid = #{billid}
    </select>

    <update id="updateRecid">
        update bill set recid = #{recid}
        where billid = #{billid}
    </update>
</mapper>
