<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.MedMapper">
    <select id="getMed" resultType="Medicine">
        select * from medicine m join fee f on m.feecode=f.feecode
        <where>
            <if test="itemcode != null and itemcode!='' ">
                and itemcode = #{itemcode}
            </if>
            <if test="medname != null and medname!='' ">
                and medname = #{medname}
            </if>
            <if test="size != null and size!='' ">
                and size = #{size}
            </if>
            <if test="unit != null and unit!='' ">
                and unit = #{unit}
            </if>
            <if test="price != null and price!='' ">
                and price = #{price}
            </if>
            <if test="type != null and type!='' ">
                and type = #{type}
            </if>
            <if test="feename != null and feename!='' ">
                and feename = #{feename}
            </if>
        </where>
    </select>

    <insert id="addMed">
        insert into medicine (itemcode,medname,unit,type,price,size,feecode)
        values (#{itemcode},#{medname},#{unit},#{type},#{price},#{size},#{feecode})
    </insert>

    <delete id="delMed">
        delete from medicine where itemcode=#{itemcode}
    </delete>

    <update id="updateMed">
        update medicine set medname = #{medname},unit = #{unit},type = #{type},price = #{price}, size=#{size},feecode=#{feecode}
        where itemcode = #{itemcode}
    </update>
</mapper>