<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.MedMapper">
    <select id="getMed" resultType="Medicine">
        select * from medicine
        <where>
            <if test="itemcode != null and itemcode!='' ">
                and itemcode = #{itemcode}
            </if>
        </where>
    </select>

    <insert id="addMed">
        insert into medicine (itemcode,itemname,unit,medtype,price,size,medcat)
        values (#{itemcode},#{itemname},#{unit},#{medtype},#{price},#{size},#{medcat})
    </insert>

    <delete id="delMed">
        delete from medicine where itemcode=#{itemcode}
    </delete>

    <update id="updateMed">
        update medicine set itemname = #{itemname},unit = #{unit},medtype = #{medtype},price = #{price},
        size=#{size},medcat=#{medcat}
        where itemcode = #{itemcode}
    </update>

    <select id="getBill" resultType="Bill">
        select m.itemname, b.count, u.realname, p.prename, b.billdate, b.billid
        from (((bill b join prescription p on b.treatid=p.preid)
        join userrdept ur on p.uRid=ur.uRid)
        join user u on ur.userid=u.userid)
        join medicine m on b.itemcode=m.itemcode
        <where>
            <if test="pid!=''">
                and pid =#{pid}
            </if>
            and isPaid=1 and isDone=0 and treatcat='prescription' and totalprice>0
        </where>
    </select>

    <update id="sendMed" parameterType="String">
        update bill set isDone =1
        where billid in
        <foreach item="ids" collection="array" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </update>

    <select id="getReturnBill" resultType="Bill">
        select m.itemname, b.count, u.realname, p.prename, b.billdate, b.billid
        from (((bill b join prescription p on b.treatid=p.preid)
        join userrdept ur on p.uRid=ur.uRid)
        join user u on ur.userid=u.userid)
        join medicine m on b.itemcode=m.itemcode
        <where>
            <if test="pid!=''">
                and pid =#{pid}
            </if>
            and isPaid=1 and isDone=1 and treatcat='prescription' and totalprice>0
        </where>
    </select>
</mapper>