<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.NonMedicMapper">

    <select id="getNonMedicItems" resultType="NonMedic">
        select * from non_medic
        <where>
            <if test="itemcode != null and itemcode!='' ">
                and itemcode like CONCAT(#{itemcode},'%')
            </if>
            <if test="feecode != null and feecode!='' ">
                and feecode like CONCAT(#{feecode},'%')
            </if>
            <if test="deptcode != null and deptcode!='' ">
                and deptcode like CONCAT(#{deptcode},'%')
            </if>
            <if test="itemname != null and itemname!='' ">
                and itemname like CONCAT(#{itemname},'%')
            </if>
            <if test="size != null and size!='' ">
                and size =#{size}
            </if>
            <if test="price != null and price!=''">
                and price =#{price}
            </if>
        </where>
    </select>

    <insert id="addNonMedicItem">
        insert into non_medic (itemcode,feecode,deptcode,itemname,size,price)
        values (#{itemcode},#{feecode},#{deptcode},#{itemname},#{size},#{price})
    </insert>

    <delete id="delNonMedicItem">
        delete from non_medic where itemcode=#{itemcode}
    </delete>

    <update id="updateNonMedicItem">
        update non_medic set itemname = #{itemname},feecode = #{feecode},deptcode = #{deptcode},size = #{size},price=
        #{price}
        where itemcode = #{itemcode}
    </update>

    <select id="getRegLevel" resultType="NonMedic">
        select * from non_medic
        where feecode = 'GHF'
    </select>

    <select id="getRegItemCode" resultType="String">
        select itemcode from non_medic
        where itemname = #{itemname}
    </select>

    <select id="getPrice" resultType="Double">
        select price from non_medic where itemname = #{itemname}
    </select>

    <select id="getNonMedicByPinyin" resultType="NonMedic">
        select * from non_medic
        where itemcode like CONCAT(#{itemcode},'%')
        and nmedtype = #{nmedtype}
    </select>


</mapper>
