<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.PatientMapper">

    <insert id="insertPatient">
        insert into patient (pid, pname, pgender, page, pbirth, paddress)
        values (#{pid}, #{pname}, #{pgender}, #{page}, #{pbirth}, #{paddress})
    </insert>

    <insert id="insertHomepage">
        insert into homepage (regid) values (#{regid})
    </insert>

    <select id="getPatientById" resultType="Patient">
        select * from patient where pid = #{id}
    </select>

    <select id="countPatientOfId" resultType="Integer">
        select count(*) from patient where pid = #{id}
    </select>

    <select id="getPatientsOfUserToday" resultType="Patient">
        select p.pid as pid, pname, pgender, page, pbirth, paddress, state, regid from
        register r
        join userrdept ud on r.uRid = ud.uRid
        join user u on u.userid = ud.userid
        join patient p on p.pid = r.pid
        where u.userid = #{userid}
        <if test="state != null and state != ''">
            and r.state = #{state}
        </if>
        <if test="state == ''">
            and r.state != 6
        </if>

        and TO_DAYS(r.date) = TO_DAYS(now())
    </select>

    <select id="getPatientsOfDeptToday" resultType="Patient">
        select p.pid as pid, pname, pgender, page, pbirth, paddress, state, regid from
        register r
        join userrdept ud on r.uRid = ud.uRid
        join dept d on d.deptcode = ud.deptcode
        join patient p on p.pid = r.pid
        where d.deptcode = #{deptcode}
        <if test="state != null and state != ''">
            and r.state = #{state}
        </if>
        <if test="state == ''">
            and r.state != 6
        </if>
        and TO_DAYS(r.date) = TO_DAYS(now())
    </select>

    <select id="getFrontPageByRegid" resultMap="_frontpage">
        select *
        from homepage hp join register r on hp.regid = r.regid
        join patient p on p.pid = r.pid
            left join hprel hpr on hpr.hpid = hp.hpid
            left join disease dis on dis.icdcode = hpr.icdcode
        where r.regid = #{regid}
    </select>

    <resultMap type="FrontPage" id="_frontpage">
        <id property="cheifCP" column="cheifCP" />
        <result property="curHis" column="curHis"/>
        <result property="allergicHis" column="allergicHis"/>
        <result property="caution" column="caution"/>
        <result property="disType" column="disType"/>
        <result property="examAdvice" column="examAdvice"/>
        <result property="pastHis" column="pastHis"/>
        <result property="phyExam" column="phyExam"/>
        <result property="situation" column="situation"/>
        <collection property="diseaseList" ofType="Disease">
            <id property="icdcode" column="icdcode" />
            <result property="discode" column="discode"/>
            <result property="disname" column="disname"/>
            <result property="discat" column="discat"/>
        </collection>
    </resultMap>

    <select id="getHpidByRegid" resultType="Integer">
        select hpid from homepage where regid = #{regid};
    </select>

    <update id="updateHomepage">
        update homepage set cheifCP = #{cheifCP},
                    curHis = #{curHis},
                    pastHis = #{pastHis},
                    allergicHis = #{allergicHis},
                    situation = #{situation},
                    caution = #{caution},
                    phyExam = #{phyExam},
                    examAdvice = #{examAdvice},
                    disType = #{disType},
                    state = #{state}
        where hpid = #{hpid}
    </update>



</mapper>
