<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.PatientMapper">

    <insert id="insertPatient">
        insert into patient (pid, pname, pgender, page, pbirth, paddress, state)
        values (#{pid}, #{pname}, #{pgender}, #{page}, #{pbirth}, #{paddress}, #{state})
    </insert>

    <select id="getPatientById" resultType="Patient">
        select * from patient where pid = #{id}
    </select>

    <select id="countPatientOfId" resultType="Integer">
        select count(*) from patient where pid = #{id}
    </select>


</mapper>
