<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.PatientMapper">

    <insert id="insertPatient">
        insert into patient (pid, pname, pgender, page, pbirth, paddress)
        values (#{pid}, #{pname}, #{pgender}, #{page}, #{pbirth}, #{paddress})
    </insert>

    <insert id="insertHomepage">
        insert into homepage (regid) values (#{regid})
    </insert>

    <select id="getPatientById" resultType="Patient">
        select * from patient where pid = #{id}
    </select>

    <select id="countPatientOfId" resultType="Integer">
        select count(*) from patient where pid = #{id}
    </select>

    <select id="getPatientsOfUserToday" resultType="Patient">
        select p.pid as pid, pname, pgender, page, pbirth, paddress, state, regid from
        register r
        join userrdept ud on r.uRid = ud.uRid
        join user u on u.userid = ud.userid
        join patient p on p.pid = r.pid
        where u.userid = #{userid}
        <if test="state != null and state != ''">
            and r.state = #{state}
        </if>
        <if test="state == ''">
            and r.state != 6
        </if>

        and TO_DAYS(r.date) = TO_DAYS(now())
    </select>

    <select id="getPatientsOfDeptToday" resultType="Patient">
        select p.pid as pid, pname, pgender, page, pbirth, paddress, state, regid from
        register r
        join userrdept ud on r.uRid = ud.uRid
        join dept d on d.deptcode = ud.deptcode
        join patient p on p.pid = r.pid
        where d.deptcode = #{deptcode}
        <if test="state != null and state != ''">
            and r.state = #{state}
        </if>
        <if test="state == ''">
            and r.state != 6
        </if>
        and TO_DAYS(r.date) = TO_DAYS(now())
    </select>

    <select id="getFrontPageByRegid" resultMap="_frontpage">
        select *
        from homepage hp join register r on hp.regid = r.regid
        join patient p on p.pid = r.pid
            left join hprel hpr on hpr.hpid = hp.hpid
            left join disease dis on dis.icdcode = hpr.icdcode
        where r.regid = #{regid}
    </select>

    <resultMap type="FrontPage" id="_frontpage">
        <id property="hpid" column="hpid"/>
        <result property="cheifCP" column="cheifCP"/>
        <result property="curHis" column="curHis"/>
        <result property="allergicHis" column="allergicHis"/>
        <result property="caution" column="caution"/>
        <result property="disType" column="disType"/>
        <result property="examAdvice" column="examAdvice"/>
        <result property="pastHis" column="pastHis"/>
        <result property="phyExam" column="phyExam"/>
        <result property="situation" column="situation"/>
        <result property="examResult" column="examResult"/>
        <result property="treatAdvice" column="treatAdvice"/>
        <collection property="diseaseList" ofType="Disease">
            <id property="icdcode" column="icdcode"/>
            <result property="discode" column="discode"/>
            <result property="disname" column="disname"/>
            <result property="discat" column="discat"/>
        </collection>
    </resultMap>

    <select id="getHpidByRegid" resultType="Integer">
        select hpid from homepage where regid = #{regid};
    </select>

    <update id="updateHomepage">
        update homepage
        <set>
            <if test="cheifCP != null and cheifCP != ''">
                cheifCP = #{cheifCP},
            </if>
            <if test="curHis != null and curHis != ''">
                curHis = #{curHis},
            </if>
            <if test="pastHis != null and pastHis != ''">
                pastHis = #{pastHis},
            </if>
            <if test="allergicHis != null and allergicHis != ''">
                allergicHis = #{allergicHis},
            </if>
            <if test="situation != null and situation != ''">
                situation = #{situation},
            </if>
            <if test="caution != null and caution != ''">
                caution = #{caution},
            </if>
            <if test="phyExam != null and phyExam != ''">
                phyExam = #{phyExam},
            </if>
            <if test="examAdvice != null and examAdvice != ''">
                examAdvice = #{examAdvice},
            </if>
            <if test="examResult != null and examResult != ''">
                examResult = #{examResult},
            </if>
            <if test="treatAdvice != null and treatAdvice != ''">
                treatAdvice = #{treatAdvice},
            </if>
            disType = #{disType},
            state = #{state},
        </set>
        where hpid = #{hpid}
    </update>

    <select id="getPatientByPid" resultType="Patient">
        select * from his.patient where pid = #{pid};
    </select>

    <update id="updatePatientState">
        update his.register set state = #{state} where regid = #{regid}
    </update>


    <select id="getBillcatByRegid" resultType="String">
        select billcat from his.bill where treatcat = 'register' and treatid = #{regid}
    </select>

    <select id="loadExamPatients" resultMap="_patient">
        select * from his.bill b join his.exam e on b.treatid = e.exid
        join his.patient p on b.pid = p.pid join his.non_medic n on n.itemcode = b.itemcode
        left join examImgs ei on ei.exid = e.exid
        <where>
            extype = #{extype} and treatcat = 'exam' and isPaid = 1 and e.state != 'Revoked'
            <if test="pid != null">
                and b.pid = #{pid}
            </if>

        </where>
    </select>

    <resultMap id="_patient" type="Patient">
        <id property="pid" column="pid"/>
        <result property="page" column="page"/>
        <result property="pgender" column="pgender"/>
        <result property="pname" column="pname"/>
        <collection property="examList" ofType="Exam">
            <id property="exid" column="exid"/>
            <result property="itemcode" column="e.itemcode"/>
            <result property="itemname" column="itemname"/>
            <result property="price" column="price"/>
            <result property="state" column="state"/>
            <result property="result" column="result"/>
            <collection property="imgUrls" ofType="String">
                <result property="imgUrl" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getPatientByExid" resultType="Patient">
        select * from his.patient p join his.bill b on p.pid = b.pid
        join exam e on e.exid = b.treatid
        where exid = #{exid} and treatcat = 'exam'
    </select>

    <update id="addResultsToHomepage">
        update his.bill set his.bill.isDone = 1 where treatcat = 'exam' and treatid = #{exid};
        update his.exam set his.exam.state = 'Executed', result = #{result} where his.exam.exid = #{exid};
    </update>
    
    <insert id="addResultsToImage" useGeneratedKeys="true" keyProperty="imgid">
        insert into examImgs (url, exid) values
        <foreach item="item" collection="imgUrls" separator=",">
            (#{item}, #{exid})
        </foreach>
    </insert>

    <select id="getHomePageStateByRegid" resultType="String">
        select state from his.homepage where regid = #{regid};
    </select>

    <select id="getBillBack" resultType="Bill">
        select * from his.bill where treatcat = 'exam' and treatid = #{exid};
    </select>

    <insert id="addRevokeBill" useGeneratedKeys="true" keyProperty="billid" >
        insert into his.bill(totalprice, pid, count, itemcode, billdate, isPaid, treatcat, isPrint, feecode, isDone, billcat, treatid, recid)
        values (-#{totalprice}, #{pid}, 1, #{itemcode}, now(), 0, #{treatcat}, 0, #{feecode}, 0, #{billcat}, #{treatid}, #{recid})
    </insert>

    <update id="updateExam">
        update exam set his.exam.state = 'Revoked' where his.exam.exid = #{exid}
    </update>
</mapper>
