<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.ReceiptMapper">
    <select id="getAllFeeCodes" resultType="String">
        select feecode from fee;
    </select>

    <select id="countRegsForDoctor" resultType="Integer">
        select count(*) from receipt
        where uRid = #{uRid}
        and feecode = "GHF"
    </select>

    <select id="countRegsForDepartment" resultType="Integer">
        select count(*) from receipt
        where uRid = #{uRid}
        and feecode = "GHF"
    </select>

    <select id="countReceiptsForDoctor" resultType="Integer">
        select count(*) from receipt
        where uRid = #{uRid}
    </select>

    <select id="countReceiptsForDepartment" resultType="Integer">
        select count(*) from receipt
        where uRid = #{uRid}
    </select>

    <select id="getReceipts" resultType="Receipt">
        select * from receipt
        where date = #{date}
    </select>

    <select id="sumFeeCodePriceForDoc" resultType="Double">
        select IFNULL(SUM(totalprice), 0.0) from receipt where uRid = #{uRid} and feecode = #{feecode}
    </select>

    <select id="sumFeeCodePriceForDept" resultType="Double">
        select IFNULL(SUM(totalprice), 0.0) from receipt where uRid = #{uRid} and feecode = #{feecode}
    </select>

    <insert id="addRec">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="recid">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into receipt (recstate, `date`, uRid, feecode, chargerid, totalprice, pid)
        values (#{recstate}, now(), #{uRid}, #{feecode}, #{chargerid}, #{totalprice}, #{pid})
    </insert>

    <select id="getRecsByPid" resultType="Receipt">
        select * from receipt where pid = #{pid}
    </select>

    <select id="getReceiptByRecid" resultType="Receipt">
        select recid, recstate, `date`, uRid, feecode, chargerid, totalprice, p.pid, p.pname
        from receipt r
        join patient p on r.pid = p.pid
        where recid = #{recid}
    </select>

    <update id="changeReceiptState">
        update receipt set recstate = '已打印'
        where recid = #{recid}
    </update>

</mapper>









