<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.RegistrationMapper">


    <insert id="addRegister">
        <selectKey resultType="Integer" order="AFTER" keyProperty="regid">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into register (newRecord, `order`, pid, uRid, itemcode, date, shiftid, state)
        values
        (#{newRecord}, #{order}, #{pid}, #{uRid}, #{itemcode}, now(), #{shiftid}, 1)
    </insert>


    <select id="getCurrentOrder" resultType="Integer">
        SELECT MAX(r.order) FROM register r where shiftid = #{shiftid}
    </select>

    <select id="countRegsInShift" resultType="Integer">
        SELECT count(*) FROM register where shiftid = #{shiftid}
    </select>

    <select id="getRegistrationsByPid" resultType="Registration">
        select regid, newRecord , `order`, pid, itemcode, date, shiftid, u.username, d.deptname
        from
        (((userrdept ud join user u on u.userid = ud.userid)
        join dept d on d.deptcode = ud.deptcode)
        join register r on r.uRid = ud.uRid)
        where pid = #{pid}
    </select>
</mapper>
