<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.RegistrationMapper">


    <insert id="addRegister">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="regid">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into register (newRecord, `order`, pid, uRid, itemcode, date, shiftid, state)
        values
        (#{newRecord}, #{order}, #{pid}, #{uRid}, #{itemcode}, now(), #{shiftid}, 1)
    </insert>

    <select id="getCurrentOrder" resultType="Integer">
        SELECT MAX(r.order) FROM register r where shiftid = #{shiftid}
    </select>

    <select id="countRegsInShift" resultType="Integer">
        SELECT count(*) FROM register where shiftid = #{shiftid}
    </select>

    <select id="countRegsForDoc" resultType="Integer">
        SELECT count(*) FROM register where shiftid = #{shiftid}
    </select>

    <sql id="getRegistrations">
        select regid, newRecord , `order`, pid, r.itemcode as itemcode, nm.itemname as regLevel, date, shiftid,
        u.username, d.deptname, r.state as state, con.constname as strState, nm.price as price
        from
        (((userrdept ud join user u on u.userid = ud.userid)
        join dept d on d.deptcode = ud.deptcode)
        join register r on r.uRid = ud.uRid)
        join non_medic nm on nm.itemcode = r.itemcode
        join constant con on con.constcode = r.state
    </sql>

    <select id="getRegistrationsByPid" resultType="Registration">
        <include refid="getRegistrations"></include>
        where pid = #{pid}
        order by regid desc
    </select>

    <select id="getCancellableRegistrationsByPid" resultType="Registration">
        <include refid="getRegistrations"></include>
        where pid = #{pid}
        and r.state = 1
    </select>

    <delete id="delReg">
        delete from register where regid=#{regid}
    </delete>

</mapper>
