<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.SettlementMapper">

    <select id="getSettlements" resultType="Settlement">
        select * from bill
        <where>
            <if test="billid != null and billid!='' ">
                and billid = #{billid}
            </if>
            <if test="itemcode != null and itemcode!='' ">
                and itemcode = #{itemcode}
            </if>
            <if test="billdate != null and billdate!='' ">
                and billdate = #{billdate}
            </if>
            <if test="pid != null and pid!='' ">
                and pid = #{pid}
            </if>
            <if test="billcat != null and billcat!='' ">
                and billcat = #{billcat}
            </if>
            <if test="count != null and count!='' ">
                and count = #{count}
            </if>
            <if test="totalprice != null and totalprice!='' ">
                and totalprice = #{totalprice}
            </if>
            <if test="feecode != null and feecode!='' ">
                and feecode = #{feecode}
            </if>
            <if test="isPaid != null and isPaid!='' ">
                and isPaid = #{isPaid}
            </if>
            <if test="isPrint != null and isPrint!='' ">
                and isPrint = #{isPrint}
            </if>
            <if test="isDone != null and isDone!='' ">
                and isDone = #{isDone}
            </if>
        </where>
    </select>
</mapper>
