<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.TemplateMapper">
    <select id="getTemp" resultType="Template_all">
        select * from template_all
        <where>
            <if test="tempname != null and tempname!='' ">
                and tempname = #{tempname}
            </if>
            <if test="temptype != null and temptype!='' ">
                and temptype = #{temptype}
            </if>
            <if test="tempscope != null and tempscope!='' ">
                and tempscope = #{tempscope}
            </if>
        </where>
    </select>

    <insert id="addTemp">
        insert into template_all (tempname, temptype,tempscope,createdate) values (#{tempname}, #{temptype},#{tempscope},#{createdate})
    </insert>

    <delete id="delTemp">
        delete from template_all where tempid=#{tempid}
    </delete>

    <update id="updateTemp">
        update template_all set tempname = #{tempname},tempscope=#{tempscope}
        where tempid=#{tempid}
    </update>

    <insert id="addItem">
        insert into temprel (tempid, itemcode) values (#{tempid},#{itemcode})
    </insert>

    <select id="getMedItem" resultType="Medicine">
        select * from medicine
        <where>
            <if test="itemcode!=null and itemcode!=''">
                and itemcode=#{itemcode}
            </if>
            and medcat=#{temptype}
        </where>
    </select>

    <select id="getNonItem" resultType="NonMedic">
        select * from non_medic
        <where>
            <if test="itemcode!=null and itemcode!=''">
                and itemcode=#{itemcode}
            </if>
            and nmedtype=#{temptype}
        </where>
    </select>

    <select id="getDetails" resultType="Medicine">
        (select n.itemcode, itemname, size, price,tempRelid
        from non_medic n join temprel tr on n.itemcode=tr.itemcode
        where tempid = #{tempid})
        union
        (select m.itemcode, itemname, size, price,tempRelid
        from medicine  m join temprel tr on m.itemcode=tr.itemcode
        where tempid = #{tempid})
    </select>

    <delete id="delDetails">
        delete from temprel where tempRelid=#{tempRelid}
    </delete>

    <select id="getTemplateForExam" resultMap="_template">
        select * from his.template_all t join his.temprel tr on t.tempid = tr.tempid
        join his.non_medic n on n.itemcode = tr.itemcode
        join his.dept d on d.deptcode = n.deptcode
        where t.temptype = #{temptype}
    </select>

    <resultMap id="_template" type="Template_all">
        <id property="tempid" column="tempid" />
        <result property="tempname" column="tempname"/>
        <result property="temptype" column="temptype"/>
        <result property="tempscope" column="tempscope"/>
        <result property="createdate" column="createdate"/>
        <collection property="nonMedicList" ofType="NonMedic">
            <id property="itemcode" column="itemcode" />
            <id property="itemname" column="itemname" />
            <result property="deptcode" column="deptname"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
</mapper>