<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hismedicalsystem.model.mapper.TemplateMapper">
    <select id="getTemp" resultType="Template_all">
        select * from template_all
        <where>
            <if test="tempname != null and tempname!='' ">
                and tempname = #{tempname}
            </if>
            <if test="temptype != null and temptype!='' ">
                and temptype = #{temptype}
            </if>
            <if test="tempscope != null and tempscope!='' ">
                and tempscope = #{tempscope}
            </if>
        </where>
    </select>

    <insert id="addTemp">
        insert into template_all (tempname, temptype,tempscope,createdate) values (#{tempname}, #{temptype},#{tempscope},#{createdate})
    </insert>

    <delete id="delTemp">
        delete from template_all where tempid=#{tempid}
    </delete>

    <select id="getMedItem" resultType="Medicine">
        select * from medicine where medcat=#{temptype}
    </select>

    <select id="getNonItem" resultType="NonMedic">
        select * from non_medic where nmedtype=#{temptype}
    </select>
</mapper>